<h1>New My Thread</h1>

<%= render 'form', my_thread: @my_thread %>

<%= link_to 'Back', my_threads_path %>
<br>
<% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
    <% else %>
    <%= link_to('Login', new_user_session_path)  %>  
    <% end %>