<h1>New comment</h1>

<%= render 'form', {comment: @comment, my_thread: @my_thread} %>|
<%= link_to 'Back', my_thread_comments_path %>
<% if user_signed_in? %>
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<% else %>
<%= link_to('Login', new_user_session_path)  %>  
<% end %>
